body{
    margin: 0;
    padding: 0;
    font-family: 'Dancing Script', cursive;
}
.main-container{
    margin: 0 auto;
    max-width: 1120px;
    min-width: 320px;    
}
/*<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap" rel="stylesheet">*/
.menu-bar{
    display: none;
}
.header-container{
    width: 100%;
    padding: 70px 32px;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    box-sizing: border-box;

}
.main-logo{
    width: 163px;
}
.header-nav{
    display: flex;
    align-items: center;
}
.header-link{
    margin: 0 7px;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 11px;
    letter-spacing: 3px;
}
.header-link:hover {
    color: rgb(175, 157, 192);
}
.header-social-media{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.header-social-icon{
    margin: 0 8px;
}
.header-social-media:hover{
    color: rgb(175, 157, 192);
}
.header-social-icon:hover{
    color: black;
}

.banner{
    display: grid;
    grid-template-columns: 5fr 6fr;
    align-items: end;
    padding: 32px;    
}
.banner-img{
    width: 85%;   
}
.banner-content{
    padding-left: 30px;
    display: grid;
    grid-template-areas: "header ."
    "latest insta";
}
.banner-img-contaener{
    display: flex;
    align-items: flex-end;
}
.banner-content-header{
    font-size: 30px;
    width: 280px;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    padding: 10px 0;
    text-transform: uppercase;
    grid-area: header;
}
.banner-latest{
    width: 230px;
}
.banner-latest-container{
    grid-area: latest;
}
.banner-insta-container{
    grid-area: insta;
}
.banner-content-img-container{
    position: relative;
    display: flex;
    align-items: flex-end;
}
.banner-bottom-text{
    position: absolute;
    left: 30px;
    bottom: 25px;
    font-size: 20px;
    font-weight: bold;
    color: blanchedalmond;
    text-transform: uppercase;
    text-decoration: none;
}
